<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Spring Boot and Thymeleaf example</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
</head>
<body>
<h3>Spring Boot and Thymeleaf</h3>
<p>Hello World!</p>

<table>
    <tr th:if="${not #lists.isEmpty(posts)}" th:each="data : ${posts}">

        <td>
d

        </td>



        <td th:text="${posts.title}" ></td>

        <td th:text="${posts.contents}" ></td>


    </tr>




</table>








</body>
</html>